<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Investani: Register</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register-style.css">
    <style>
        .form-title {
            margin-bottom: 40px;
            font-size: 20px;
            font-weight: 400;
        }
    </style>
</head>

<body>

    <div class="main">

        <!-- Sign up form -->
        <div class="container">
            <a href="/">
                <img src="/images/ptpnx-logo.png" alt="" style="margin: 24px 32px">
            </a>
            <div class="signup-content">
                <div class="signup-image">
                    <figure><img src="/images/signup-image.jpg" alt="sing up image"></figure>
                </div>
                <div class="signup-form">
                    <h2 class="form-title">Email berhasil diaktivasi</h2>
                    <div>
                    <label for="agree-term" class="label-agree-term">Terima kasih telah melakukan aktivasi email. 
                    Anda dapat melengkapi data diri untuk segera mulai menyalurkan pembiayaan. </label>
                    <br>
                    <br>
                    <a href="/complete-profile" class="email-activated-button">
                            <button type="button" class="btn btn-warning">Lengkapi data diri</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="/js/register-main.js"></script>
</body>

</html>