<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Investani: Welcome</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	<!-- Stylesheets -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/ionicons.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/jquery.classycountdown.css" />
	<link href="/css/welcome-styles.css" rel="stylesheet">
	<link href="/css/welcome-responsive.css" rel="stylesheet">
	
</head>
<body>
	
	<div class="main-area">
		<div class="container full-height position-static">
			<section class="left-section full-height">
				<a class="logo" href="/"><img src="images/logo.png" alt="Logo"></a>
				<div class="display-table">
					<div class="display-table-cell">
						<div class="main-content">
							<h2 class="title"><b>Selamat Datang</b></h2>
							<p>Pendaftaran berhasil. Untuk melanjutkan pendaftaran, klik link aktivasi yang tercantum pada email aktivasi yang telah kami kirimkan ke email Anda.</p>
							<br>
							<br>
							<p class="post-desc"><b>Tips</b> : Silahkan periksa folder spam bila Anda belum menerima email kami. </p>
							<br>
							<br>
							<a href="#">Kirim ulang email aktivasi</a>
						</div><!-- main-content -->
					</div><!-- display-table-cell -->
				</div><!-- display-table -->
			</section><!-- left-section -->
		
			<section class="right-section">
				
			</section><!-- right-section -->
		
		</div><!-- container -->
	</div><!-- main-area -->
	
	<!-- SCIPTS -->
	
	<script src="/js/jquery-3.1.1.min.js"></script>
	
	<script src="/js/tether.min.js"></script>
	
	<script src="/js/bootstrap.js"></script>
	
	<script src="/js/jquery.classycountdown.js"></script>
	
	<script src="/js/jquery.knob.js"></script>
	
	<script src="/js/jquery.throttle.js"></script>
	
	<script src="/js/scripts.js"></script>
	
</body>
</html>