<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <% if (url == "backed-project" || url == "backed-project-transaction") { %>
                            <h1>Proyek</h1>
                        <% } %>
                        <% if (url == "waiting-payment" || url == "waiting-verification" || url == "detail-transaction") { %>
                            <h1>Transaksi</h1>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <% if (url == "backed-project" || url == "backed-project-transaction") { %>
                            <li><a href="#">Proyek</a></li>
                            <% if (url == "backed-project") {%>
                                <li class="active">Proyek yang Didanai</li>
                            <% } %>                            
                            <% if (url == "backed-project-transaction") { %>
                                <li><a href="/investor/<%= user_id %>/backed-project">Proyek yang Didanai</a></li>
                                <li class="active">Transaksi</li>
                            <% } %>       
                        <% } %>
                        <%if (url == "waiting-payment" || url == "waiting-verification" || url == "detail-transaction") {%>
                            <li><a href="#">Transaksi</a></li>
                            <%if (url == "waiting-payment" || url == "detail-transaction") {%>
                                <% if (url == "waiting-payment") { %> 
                                <li class="active">Menunggu Pembayaran</li>
                                <% } %>
                                <%if (url == "detail-transaction") {%>
                                    <li><a href="/investor/transaction/waiting-payment/transaction._id">Menunggu Pembayaran</a></li>
                                    <li class="active">Detail Pembayaran</li>
                                <% } %>
                            <% } %>
                            <%if (url == "waiting-verification") {%>
                                <li class="active">Menunggu Verifikasi</li>
                            <% } %>
                        <% } %>
                    </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>