<html></html>

<head></head>

<body>
    <title>PERJANJIAN KEPESERTAAN PROGRAM BUDIDAYA TANIFUND</title>
    <style>
        body {
            font-size: 14px;
            line-height: 1.35;
            font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
        }

        .page {
            height: 910px;
            width: 620px;
            margin: auto;
            padding: 50px 0;
            box-sizing: border-box;
            page-break-after: always;
            position: relative;
        }

        .page:last-child {
            page-break-after: avoid;
        }

        .page-number {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }

        .heading-1,
        .heading-2 {
            text-align: center;
            font-weight: bold;
        }

        .heading-1 {
            font-size: 16px;
        }

        .heading-2 {
            margin-bottom: 10px;
        }

        .normal {
            text-align: justify;
            text-justify: inter-word;
        }

        .sign {
            margin-top: 20px;
            font-weight: bold;
        }

        .sign .left,
        .sign .right {
            width: 50%;
            text-align: left;
            float: left;
            box-sizing: border-box;
        }

        .sign .left {
            padding-right: 10px;
        }

        .sign .right {
            padding-left: 10px;
        }

        .sign .title {
            margin-bottom: 10px;
            height: 40px;
        }

        .sign .signature {
            height: 100px;
        }

        .sign .signature img {
            height: 100px;
            max-width: 270px;
            width: auto;
        }

        .sign .signee {
            margin-top: 10px;
        }

        .sign .signee hr {
            margin: 0;
            width: 80%;
        }

        .clear {
            clear: both;
        }

        .income-source,
        .income-source ul {
            margin-top: 0;
            padding-left: 2em;
            list-style-type: none;
        }

        .income-source li:before {
            position: absolute;
            left: 2em;
        }

        .income-source li.tick:before {
            content: 'v';
            font-weight: bold;
        }

        .income-source li.tick {
            font-weight: bold;
        }

        .income-source li.circle:before {
            content: '\2022';
        }

        .inside-list,
        ol {
            padding-left: 18px;
        }

        .inside-list p,
        .inside-list ul,
        .inside-list ul li {
            margin: 0;
            margin-bottom: 5px;
        }

        ul {
            padding-left: 13px;
        }

        table {
            margin-left: -3px;
        }

        table>tr>td {
            font-size: 14px;
            line-height: 1.35;
            font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
        }

        ol>li {
            margin-bottom: 10px;
        }
    </style>
    <div class="page">
        <div class="heading-1">PERJANJIAN KEPESERTAAN PROGRAM BUDIDAYA TANIFUND<br><br>ANTARA<br>PT. TANI FUND MADANI
            INDONESIA<br>DENGAN<br>AHMAD ALIF ROBIT AL HAZMI</div>
        <hr>
        <div class="normal">
            <p>Pada hari ini Senin tanggal 25 February 2019, bertempat di Jakarta, telah diadakan penandatanganan
                Perjanjian Kepesertaan Program Budidaya TaniFund (selanjutnya disingkat “Perjanjian”), oleh dan antara
                para pihak:</p>
            <ol>
                <li><strong>PT. TANI FUND MADANI INDONESIA</strong>, suatu perseroan terbatas yang didirikan
                    berdasarkan hukum Republik Indonesia, beralamat di Kompleks Pergudangan Infinia Park Blok A8, Lt 2,
                    Jl. Dr. Saharjo No. 45 RT 001 RW 007, Kel. Manggarai, Kec. Tebet, Jakarta Selatan, yang diwakili
                    secara sah oleh <strong>Ivan Arie Sustiawan</strong> selaku Direktur Utama, dalam hal ini bertindak
                    untuk dan atas nama <strong>PT. TANI FUND MADANI INDONESIA</strong>, untuk selanjutnya disebut
                    <strong>PIHAK PERTAMA</strong>;</li>
                <li><strong>AHMAD ALIF ROBIT AL HAZMI</strong>, warga negara Indonesia, pemegang kartu tanda penduduk
                    No. 3505012703980002 bertempat tinggal di Jalan Gunung Anyar Tengah Nomor 72 Surabaya, Gunung
                    Anyar, Gunung Anyar, Kota Surabaya, Jawa Timur, untuk selanjutnya disebut sebagai <strong>PIHAK
                        KEDUA</strong>;</li>
            </ol>
            <p>Selanjutnya PIHAK PERTAMA dan PIHAK KEDUA secara bersama-sama disebut “Para Pihak”.</p>
            <p>BAHWA:</p>
            <ol>
                <li>PIHAK PERTAMA adalah suatu perseroan terbatas yang bergerak di bidang portal web melalui media
                    internet yang menjalankan program budidaya pertanian, peternakan, dan perikanan dengan melibatkan
                    partisipasi masyarakat untuk membiayai program budidaya tersebut.</li>
                <li>PIHAK KEDUA adalah pihak yang hendak menempatkan dananya sebagai bentuk penyertaan modal untuk
                    program budidaya / transaksi penjualan yang diselenggarakan oleh PIHAK PERTAMA.</li>
                <li>Dengan membuat dan menandatangani Perjanjian ini, PIHAK KEDUA menyatakan telah membaca, menyetujui
                    syarat dan ketentuan yang tercantum dalam Syarat dan Ketentuan sebagaimana tercantum di dalam
                    pernjanjian ini dan www.tanifund.com</li>
                <li>PIHAK KEDUA setuju bahwa dana PIHAK KEDUA akan ditempatkan dari rekening Virtual Account PIHAK
                    KEDUA kepada Rekening penerima pinjaman atau pihak yang diberikan kuasa oleh pemberi pinjaman
                    (sebagaimana didefinisikan dibawah ini).</li>
                <li>Lebih lanjut, dengan mempertimbangkan kesepahaman bersama yang dituangkan dalam Perjanjian ini,
                    Para Pihak dengan berdasarkan itikad baik serta saling mempercayai, telah saling sepakat dan setuju
                    untuk saling mengikatkan diri dalam Perjanjian Kepersertaan Program Budidaya Tanifund
                    (“Perjanjian”) dengan ketentuan-ketentuan dan syarat-syarat sebagaimana dituangkan dalam
                    Pasal-Pasal sebagai berikut:</li>
            </ol>
        </div>
        <div class="page-number">1</div>
    </div>
    <div class="page">
        <div class="heading-2">PASAL I<br>PERINCIAN</div>
        <div class="normal">
            <ol>
                <li>Para Pihak sepakat bahwa dana PIHAK KEDUA akan ditempatkan dari Rekening Virtual Account PIHAK
                    KEDUA sesuai dengan identitas sebagaimana disebutkan dalam Pasal 1 ayat 4 Perjanjian ini kepada
                    Rekening pemberi pinjaman atau pihak yang diberikan kuasa oleh pemberi pinjaman dengan rincian
                    sebagai berikut (“Rekening PIHAK KEDUA”):<br>
                    <table>
                        <tbody>
                            <tr>
                                <td>Bank</td>
                                <td>:</td>
                                <td>BCA</td>
                            </tr>
                            <tr>
                                <td>Nomor Rekening Virtual Account</td>
                                <td>:</td>
                                <td>1000810108677231</td>
                            </tr>
                            <tr>
                                <td>Nama</td>
                                <td>:</td>
                                <td>Ahmad Alif Robit Al Hazmi</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>Para Pihak sepakat bahwa dana PIHAK KEDUA yang akan ditempatkan dari Rekening Virtual Account PIHAK
                    KEDUA sebagaimana dimaksud dalam Pasal 1 ayat 1 ke dalam Rekening pemberi pinjaman atau pihak yang
                    diberikan kuasa oleh pemberi pinjaman Perjanjian ini adalah dana yang bersih dari biaya layanan
                    bank. Apabila terdapat biaya layanan bank dari bank PIHAK KEDUA, Para Pihak sepakat bahwa PIHAK
                    KEDUA akan bertanggung jawab atas biaya layanan bank yang timbul tersebut.</li>
                <li>PIHAK KEDUA akan menyerahkan semua dokumen yang disyaratkan oleh PIHAK PERTAMA, termasuk setiap
                    perubahannya dari waktu ke waktu.</li>
                <li>PIHAK KEDUA setuju untuk memberikan informasi penempatan dana kepada PIHAK PERTAMA dan dokumen
                    pendukung setiap kali melakukan penempatan dana ke Rekening pemberi pinjaman atau pihak yang
                    diberikan kuasa oleh pemberi pinjaman, dengan rincian informasi sebagai berikut:</li>
            </ol>
            <div class="inside-list">
                <p><strong>Apabila PIHAK KEDUA adalah individu:</strong></p>
                <table>
                    <tbody>
                        <tr>
                            <td>Nama Pihak Kedua</td>
                            <td>:</td>
                            <td>Ahmad Alif Robit Al Hazmi</td>
                        </tr>
                        <tr>
                            <td>Tanggal Lahir</td>
                            <td>:</td>
                            <td> 1 January 1970</td>
                        </tr>
                        <tr>
                            <td>Warga Negara</td>
                            <td>:</td>
                            <td>WNI</td>
                        </tr>
                        <tr>
                            <td>Nomor Handphone</td>
                            <td>:</td>
                            <td>+6281358677231</td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td>:</td>
                            <td>ahmad.alif.robit-2015@fst.unair.ac.id</td>
                        </tr>
                        <tr valign="top">
                            <td>Alamat Tempat Tinggal</td>
                            <td>:</td>
                            <td>sesuai KTP terlampir</td>
                        </tr>
                        <tr valign="top">
                            <td>Alamat Korespondensi</td>
                            <td>:</td>
                            <td>Jalan Gunung Anyar Tengah Nomor 72 Surabaya, Gunung Anyar, Gunung Anyar, Kota Surabaya,
                                Jawa Timur</td>
                        </tr>
                    </tbody>
                </table>
                <p>Melampirkan:</p>
                <ul>
                    <li>Salinan Nomor Kartu Tanda Penduduk (KTP)/Paspor</li>
                    <li>Salinan Nomor Pokok Wajib Pajak (NPWP)</li>
                </ul>
            </div>
        </div>
        <div class="page-number">2</div>
    </div>
    <div class="page">
        <div class="normal">
            <div class="inside-list">
                <p>Informasi Rekening Penempatan dan Rekening Pengembalian PIHAK KEDUA (“Rekening PIHAK KEDUA”):</p>
                <table>
                    <tbody>
                        <tr>
                            <td>Rekening Atas Nama</td>
                            <td>:</td>
                            <td>AHMAD ALIF ROBIT AL HAZMI</td>
                        </tr>
                        <tr>
                            <td>Nomor Rekening</td>
                            <td>:</td>
                            <td>1710003172031</td>
                        </tr>
                        <tr>
                            <td>Nama Bank</td>
                            <td>:</td>
                            <td>Bank Mandiri</td>
                        </tr>
                        <tr>
                            <td>Cabang</td>
                            <td>:</td>
                            <td>Blitar Srengat</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ol start="5">
                <li>Para Pihak sepakat bahwa setiap dana yang ditempatkan oleh PIHAK KEDUA di dalam Rekening pemberi
                    pinjaman atau pihak yang diberikan kuasa oleh pemberi pinjaman wajib ditransfer oleh PIHAK KEDUA
                    dari rekening Virtual Account PIHAK KEDUA paling lambat 3 (tiga) hari kalender sejak PIHAK KEDUA
                    mengkonfirmasikan penyertaannya dalam suatu program budidaya atau transaksi penjualan. Pengembalian
                    dana akan ditransfer hanya kepada rekening Virtual Account atas nama PIHAK KEDUA sebagaimana
                    tercantum dalam Pasal I ayat 1, kemudian berdasarkan permintaan PIHAK KEDUA dapat dilakukan
                    pemindahbukuan ke rekening atas nama PIHAK KEDUA sebagaimana tercantum dalam Pasal 1 ayat 4
                    Perjanjian ini. Tidak akan ada pembayaran penempatan atau pengembalian dana kepada pihak ketiga
                    yang akan diijinkan. Dalam hal Rekening PIHAK KEDUA untuk penempatan atau pengembalian bukanlah
                    bank yang berasal dari Indonesia, sebelum menerima atau mengirimkan dana, PIHAK PERTAMA mempunyai
                    hak untuk meminta dokumen dan informasi untuk melakukan verifikasi sumber dana dari pemegang
                    rekening.</li>
                <li>Rincian dari rekening penempatan dan rekening pengembalian akan dianggap sama, kecuali dinyatakan
                    lain oleh Para Pihak dalam dokumen terpisah.</li>
                <li>Para Pihak sepakat bahwa dana yang yang ditempatkan oleh PIHAK KEDUA dalam Rekening pemberi
                    pinjaman atau pihak yang diberikan kuasa oleh pemberi pinjaman dalam bentuk mata uang Rupiah.</li>
                <li>Para Pihak sepakat bahwa PIHAK PERTAMA akan mengirimkan pengembalian dana dalam mata uang Rupiah.</li>
                <li>Para pihak sepakat jika PIHAK PERTAMA berbeda bank dengan PIHAK KEDUA maka PIHAK KEDUA akan
                    menanggung semua biaya transfer bank dari dan ke PIHAK KEDUA.</li>
            </ol>
            <div class="heading-2">PASAL II<br>PERNYATAAN SUMBER DANA</div>
            <div class="normal income-source">
                <p>Dalam mendukung program anti pencucian uang, PIHAK KEDUA dengan ini menyatakan bahwa kekayaan dan
                    dana berasal dari sumber-sumber yang dibenarkan berdasarkan ketentuan hukum yang berlaku:</p>
                <ul>
                    <li class="circle">Upah kerja</li>
                    <li class="tick">Pendapatan bisnis</li>
                    <li class="circle">Hasil dari penjualan properti dan/atau aset</li>
                    <li class="circle">Warisan</li>
                    <li class="circle">Hadiah</li>
                    <li class="circle">Lainnya (dijelaskan)</li>
                </ul>
            </div>
        </div>
        <div class="page-number">3</div>
    </div>
    <div class="page">
        <div class="normal">
            <p>PIHAK KEDUA selanjutnya menyatakan tidak terlibat dengan pencucian uang, dan/atau perdagangan narkotik
                dan obat-obatan terlarang, dan uang dan/atau surat berharga yang telah atau akan didepositkan di
                rekening bank atas nama PIHAK KEDUA yang bukan berasal, baik secara langsung atau tidak langsung, dari
                sumber yang tidak sah dan/atau hasil kejahatan.</p>
        </div>
        <div class="heading-2">PASAL III<br>PENYERTAAN DANA</div>
        <div class="normal">
            <ol>
                <li>Para Pihak sepakat bahwa PIHAK KEDUA akan mengkonfirmasi setiap penyertaan dana di program
                    budidaya/transaksi penjualan yang diselenggarakan oleh PIHAK PERTAMA secara online melalui
                    www.tanifund.com .</li>
                <li>PIHAK PERTAMA akan menarik dana dari Rekening Virtual Account PIHAK KEDUA ke rekening pemberi
                    pinjaman atau pihak yang diberikan kuasa oleh pemberi pinjaman paling lambat 3 (tiga) hari sejak
                    konfirmasi penyertaan yang diberikan oleh PIHAK KEDUA kepada PIHAK PERTAMA.</li>
                <li>PIHAK PERTAMA akan menerbitkan sertifikat penyertaan dana program budidaya (selanjutnya disebut
                    sebagai SERTIFIKAT PENYERTAAN DANA) paling lambat 7 (tujuh) hari sejak PIHAK PERTAMA menerima dana
                    dari Rekening Virtual Account PIHAK KEDUA.</li>
            </ol>
        </div>
        <div class="heading-2">PASAL IV<br>PEMBATALAN DAN PENGALIHAN</div>
        <div class="normal">
            <ol>
                <li>PIHAK KEDUA tidak dapat membatalkan penyertaan dana di setiap program budidaya/transaksi penjualan
                    yang telah dipilihnya sebelum tanggal berakhirnya program budidaya/transaksi penjualan tersebut.</li>
                <li>PIHAK KEDUA dapat mengalihkan dan/atau menjual hak yang melekat pada SERTIFIKAT PENYERTAAN DANA
                    dengan pemberitahuan terlebih dahulu 7 hari sebelum pengalihan terjadi.</li>
                <li>Dalam hal pengalihan terjadi, maka pihak yang menerima pengalihan akan tunduk pada ketentuan
                    perjanjian ini secara keseluruhan.</li>
            </ol>
        </div>
        <div class="page-number">4</div>
    </div>
    <div class="page">
        <div class="heading-2">PASAL V<br>BAGI HASIL</div>
        <div class="normal">
            <ol>
                <li>Program budidaya/transaksi penjualan diselenggarakan oleh PIHAK PERTAMA dengan pengembalian pokok
                    pinjaman dan bunga dengan besaran dan jadwal pengembalian yang ditentukan dari dari waktu ke waktu
                    berdasarkan propspektus program budidaya/transaksi penjualan yang dipublikasikan di situs
                    www.tanifund.com.</li>
                <li>Jadwal pengembalian bunga dan pokok pinjaman yang ditetapkan sesuai dengan ketentuan yang ada di
                    dalam prospektus program budidaya yang diikuti oleh PIHAK KEDUA.</li>
                <li>Dana dari pengembalian pokok dan/atau bagi hasil akan ditempatkan ke dalam rekening Virtual Account
                    PIHAK KEDUA pada tanggal pengembalian pokok danbunga yang ditetapkan di setiap program budidaya
                    kemudian berdasarkan permintaan PIHAK KEDUA dapat dilakukan pemindahbukuan ke rekening atas nama
                    PIHAK KEDUA sebagaimana tercantum dalam Pasal 1 ayat 4 Perjanjian ini.</li>
            </ol>
        </div>
        <div class="heading-2">PASAL VI<br>PERPAJAKAN</div>
        <div class="normal">
            <p>Segala kewajiban perpajakan yang timbul akibat pemberlakuan Perjanjian ini akan ditanggung oleh Para
                Pihak sesuai dengan peraturan perundang-undangan yang berlaku.</p>
        </div>
        <div class="heading-2">PASAL VII<br>MASA BERLAKUNYA PERJANJIAN</div>
        <div class="normal">
            <ol>
                <li>Perjanjian ini mulai berlaku sejak ditandatangani sampai dengan PIHAK KEDUA memutuskan untuk
                    berhenti menjadi investor di program-program pembiayaan yang disediakan PIHAK PERTAMA dan hak-hak
                    PIHAK KEDUA telah dialihkan/diperjualbelikan ke pihak lain.</li>
                <li>Dalam Pelaksanaan pengakhiran perjanjian ini kedua belah PIHAK setuju untuk melepaskan ketentuan
                    pasal 1266 Kitab Undang-Undang Hukum Perdata sepanjang mengatur tentang pengakhiran perjanjian
                    melalui pengadilan, serta melepaskan ketentuan pasal 1267 Kitab Undang-Undang Hukum Perdata
                    sepanjang mengatur tentang pemberian ganti kerugian dalam bentuk apapun apabila perjanjian ini
                    diakhiri.</li>
            </ol>
        </div>
        <div class="heading-2">PASAL VIII<br>PENYELESAIAN PERSELISIHAN</div>
        <div class="normal">
            <ol>
                <li>Para pihak sepakat untuk menyelesaikan segala perselisihan yang timbul sehubungan dengan atau
                    sebagai akibat dari perjanjian ini secara musyawarah untuk mufakat.</li>
            </ol>
        </div>
        <div class="page-number">5</div>
    </div>
    <div class="page">
        <div class="normal">
            <ol start="2">
                <li>Apabila perselisihan tersebut tidak dapat diselesaikan dengan musyawarah, maka para pihak sepakat
                    untuk mengajukan perselisihan yang ada kepada Badan Arbitrase Nasional Indonesia (BANI) dengan
                    tunduk pada peraturan arbitrase BANI.</li>
                <li>Selama proses penyelesaian perselisihan para pihak di BANI, maka segala kewajiban yang harus
                    dilaksanakan oleh para pihak akan ditunda terlebih dahulu sampai mendapat keputusan tetap dari
                    BANI.</li>
            </ol>
        </div>
        <div class="heading-2">PASAL IX<br>FORCE MAJEURE</div>
        <div class="normal">
            <p>Dalam keadaan darurat nasional, perang, peraturan larangan dari pemerintah atau penyebab lainnya diluar
                kendali kedua belah pihak yang menghalangi untuk menjalankan Perjanjian ini maka kedua belah pihak akan
                dibebaskan dari kewajiban masing-masing selama periode tersebut.</p>
        </div>
        <div class="heading-2">PASAL X<br>LAIN-LAIN</div>
        <div class="normal">
            <p>PIHAK KEDUA selaku pemberi pinjaman dengan ini memberikan kuasa kepada PIHAK PERTAMA dalam bertindak
                untuk dan atas nama PIHAK KEDUA untuk menandatangani perjanjian terkait dengan pemberian pinjaman dana
                dengan penerima pinjaman.</p>
        </div>
        <div class="heading-2">PASAL XI<br>LAIN-LAIN</div>
        <div class="normal">
            <ol>
                <li>Hal-hal yang belum diatur dan perubahan-perubahan dari Perjanjian ini, akan diselesaikan melalui
                    kesepakatan atau perundingan kedua belah pihak dan akan dituangkan dalam suatu Addendum Perjanjian
                    yang ditandatangani oleh kedua belah pihak serta merupakan bagian yang tidak terpisahkan dari dan
                    mempunyai kekuatan hukum yang sama dengan Perjanjian ini.</li>
                <li>Segala ketentuan-ketentuan dan syarat-syarat dalam Perjanjian ini berlaku serta mengikat bagi
                    pihak-pihak yang menandatangani, pengganti-penggantinya dan mereka memperoleh keuntungan dari
                    padanya.</li>
            </ol>
            <p>Demikian Perjanjian ini dibuat dan mempunyai kekuatan hukum yang sama setelah ditandatangani oleh kedua
                belah pihak.</p><br><br>
        </div>
        <div class="sign">
            <div class="left">
                <div class="title">PIHAK PERTAMA<br>PT. TANI FUND MADANI INDONESIA</div>
                <div class="signature"><img src="https://api.tanifund.com/images/ivan-signature.png"></div>
                <div class="signee">Ivan Arie Sustiawan
                    <hr><span style="font-weight: normal">Direktur Utama</span></div>
            </div>
            <div class="right">
                <div class="title">PIHAK KEDUA</div>
                <div class="signature"><img src="/images/signhere.png" class="backdrop"></div>
                <div class="signee">Ahmad Alif Robit Al Hazmi
                    <hr>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="page-number">6</div>
    </div>
    <link href="./assets/css/contract.css" rel="stylesheet" type="text/css">
</body>

</html>