<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EJS Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
    <% include ../partials/header %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><b>Item Name</b></td>
                    <td colspan="2"><b>Action</b></td>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < itms.length; i++) { %>
                    <tr>
                      <td><%= itms[i].item %></td>
                      <td><a href="/items/edit/<%= itms[i]._id %>" class="btn btn-primary">Edit</a></td>
                      <td><a href="/items/delete/<%= itms[i]._id %>" class="btn btn-danger">Delete</a></td>
                    </tr>
                <% } %>
            </tbody>
            
            </table>
            <a href="/items/add" class="btn btn-primary">Add</a>
    </div>
</body>
</html>