<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="dashboard">
                    <a href="/admin/dashboard"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title">User</li><!-- /.menu-title -->
                <li>
                    <a href="/admin/user/inisiator/individual"><i class="menu-icon fa fa-laptop"></i>Inisiator </a>
                </li>
                <li class="menu-item-has-children dropdown" id="investor">
                    <a href="#" id="investor-link" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-table"></i>Investor</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="/admin/user/investor/individual" id="individual-investor-sub">Perseorangan</a></li>
                        <li><i class="fa fa-table"></i><a href="/admin/user/investor/company" id="company-investor-sub">Perusahaan</a></li>
                    </ul>
                </li>
                <li class="menu-title">Proyek</li><!-- /.menu-title -->
                <li>
                    <a href="/admin/project/waiting"><i class="menu-icon fa fa-laptop"></i>Menunggu Verifikasi </a>
                </li>
                <li>
                    <a href="/admin/project/rejected"><i class="menu-icon fa fa-laptop"></i>Ditolak </a>
                </li>
                <li>
                    <a href="/admin/project/open"><i class="menu-icon fa fa-laptop"></i>Sedang Berlangsung </a>
                </li>
                <li>
                    <a href="/admin/project/done"><i class="menu-icon fa fa-laptop"></i>Sudah Selesai </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-tasks"></i>Kategori Proyek</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-fort-awesome"></i><a href="/admin/project/category">Daftar Kategori</a></li>
                        <li><i class="menu-icon ti-themify-logo"></i><a href="/admin/project/add-category">Tambah Kategori</a></li>
                    </ul>
                </li>
    
                <li class="menu-title">Transaksi</li><!-- /.menu-title -->
                <li>
                    <a href="/admin/transaction/waiting"><i class="menu-icon fa fa-laptop"></i>Menunggu Verifikasi</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>