<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <% if (url == 'individual-inisiator' || url == 'company-inisiator' || url == 'individual-investor' || url == 'company-investor' ) { %>
                        <h1>User</h1>
                        <% } %>
                        <% if (url == 'waiting-project' || url == 'category' || url == 'add-category') { %>
                            <h1>Proyek</h1>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <% if (url == 'individual-inisiator' || url == 'company-inisiator' || url == 'individual-investor' || url == 'company-investor' ) { %>
                                <li><a href="#">User</a></li>
                                <% if (url == 'individual-inisiator' || url == 'company-inisiator') { %>
                                    <li><a href="#">Inisiator</a></li>
                                    <% if (url == 'individual-inisiator') { %>
                                        <li class="active">Perseorangan</li>
                                    <% } %>
                                    <% if (url == 'company-inisiator') { %>
                                        <li class="active">Perusahaan</li>
                                    <% } %>
                                <% } %>
                                <% if (url == 'individual-investor' || url == 'company-investor') { %>
                                    <li><a href="#">Investor</a></li>
                                    <% if (url == 'individual-investor') { %>
                                        <li class="active">Perseorangan</li>
                                    <% } %>
                                    <% if (url == 'company-investor') { %>
                                        <li class="active">Perusahaan</li>
                                    <% } %>
                                <% } %>
                            <% } %>
                            <% if (url == 'waiting-project' || url == 'rejected-project' || url == 'open-project' || url == 'category' || url == 'add-category') { %>
                                <li><a href="#">Proyek</a></li>
                                <% if (url == 'waiting-project' || url == 'detail-project') { %>
                                    <li><a href="#">Menunggu Verifikasi</a></li>
                                <% } %>
                                <% if (url == 'rejected-project' || url == 'detail-project') { %>
                                    <li><a href="#">Ditolak</a></li>
                                <% } %>
                                <% if (url == 'open-project' || url == 'detail-project') { %>
                                    <li><a href="#">Sedang Berlangsung</a></li>
                                <% } %> 
                                <% if (url == 'category') { %>
                                    <li><a href="#">Daftar Kategori</a></li>
                                <% } %>
                                <% if (url == 'add-category') { %>
                                    <li><a href="#">Tambah Kategori</a></li>
                                <% } %>
                            <% } %>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>